body {
    text-align: center;
    border: 1px solid rgb(236, 135, 135);
    /* padding: 200px; */
    align-content: center;
    width: 400px;
    height: 350px;
    border-radius: 30px;
    margin: 20px auto;
    
}

#res {
    font-size: 50px;
    color: red;
}

button {
    background-color: rgb(243, 161, 110);
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;

}

input {
    border-radius: 10px;
    text-align: center;
}