body{
    margin: 0px;
    padding: 0px;
}

.parallax-acima-parte {
    width: 100%;
    height: calc(600px - 6px);
    background-color: blanchedalmond;
    border-bottom: 6px solid orange;
    overflow: hidden;
    background-image: url(https://1.bp.blogspot.com/-P4-bMtMEFKY/T_iFFmbsYcI/AAAAAAAAAbw/GC4u6qO9psI/s1600/HOTEL%2BSESC%2BCAIOBA001.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    
}

.aviao{
    width: 350px;
    position: absolute;
    right: -300px;
    top: 40%;

}
.conteudo{
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 1200px;
    padding: 40px 0px;
}
.animacao {
    transition: 2s;
    border-bottom-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 30px;

}

.card-img-top {
    border-top-left-radius:30px !important;
}

.animacao:hover {
    width:320px  !important; 
    transition: 2s;

}