.container{
    width: 1000px; 
    margin-left: auto;
    margin-right: auto; 
}

.quadrado{
    text-align: center;
    width: 200px;
    height: 200px;

    font-size: 150px;
}

.jogo {
    background-color: rgb(51, 126, 210);
    color: white;
}


body {
    color: white;
    background-color: rgb(18, 23, 66);
   
}

.botao{
    margin-top: 20px;
    width: 120px;
    height: 50px;
    color: aliceblue;
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 20px;
}


span {
    font-size: 40px;
    font-family: fantasy;
}

#q1 {
    background-color: red;
}
#q2 {
    background-color: orange;
}
#q3 {
    background-color: yellow;
}
#q4 {
    background-color: green;
}
#q5 {
    background-color: deeppink;
}
#q6 {
    background-color: blue;
}
#q7 {
    background-color: darkorchid;
}
#q8 {
    background-color: black;
}
#q9 {
    background-color:brown;
}